<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8"/>
    <title></title>

    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>

<body>

<div class="index_logo"><img src="/img/20171225104520.jpg"/></div>
<p>上海东冠健康用品股份有限公司出品</p>
<div class="saomaoshuoming"><img
        src="/img/erweima.png"/><span>码被扫${count}次，由于有很多人扫码，此产品可能为假冒，举报电话021-58636607</span></div>

<div class="company_description">
    <div>&nbsp;<span style="color: orangered;font-weight:bolder;">|</span>&nbsp;上海东冠健康用品股份有限公司，面向广大的家庭消费群，产品线覆盖各种品类的生活用纸，能够充分满足日常使用需求，受到顾客的普遍好评。
    </div>
</div>

</body>

</html>